body {
    background-image: url("/images/css_background.jpg");
    background-repeat: repeat;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 55px;
    cursor: url("/images/cursor.png"), auto;
    text-align: center;
}

hr {
    border: none;
    height: 5px;
    background-color: rgb(10, 78, 146);
}

table {
    background-color: rgb(10, 78, 146);
    color: black;
    box-shadow: 15px 15px 10px black;
    text-align: left;
    margin: 0 auto 1em auto;
    line-height: 1.5;
    width: 1000px;
}

img {
    padding-left: 10%;
}

.image-grid img {
    padding-left: 0;
    margin: 10px;
}

.small {
    width: 25%;
    height: auto;
}